@using MSAL.ECommerce.Shared.Models;

@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@{
    var userInfos = (IEnumerable<UserInfo>)ViewBag.UserInfos;
    if (userInfos == null)
    {
        <pre>
            @ViewBag.Error
        </pre>
    }
    else
    {
        <h3>GraphAPI: List of Users</h3>

        <div class="container">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">UserPrincipalName</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var userInfo in userInfos)
                    {
                        <tr>
                            <th scope="row">@userInfo.Id</th>
                            <td>@userInfo.DisplayName</td>
                            <td>@userInfo.Email</td>
                            <td>@userInfo.UserPrincipalName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

<hr />
<h3>ECommerce API: List of products</h3>

@{

    var products = (IEnumerable<Product>)ViewBag.Products;

    if (products == null)
    {
        <pre>
            @ViewBag.Error
        </pre>
    }
    else
    {
        <div class="container">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in products.ToList())
                    {
                        <tr>
                            <th scope="row">@product.Id</th>
                            <td>@product.Name</td>
                            <td>@product.Price</td>
                            <td>@product.Category.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}